[2013-04-07 18:44] bjorncs opened #1 "Auto-detect original language"
The Google Translate webpage can auto-detect the original language. Is it possible to add this feature to the plugin?

[2013-04-07 19:03] #1 closed, assigned to thomashempel

[2013-04-08 05:46] thomashempel opened #2 "Add a command to translate to any language Google supports"
While some defaults are fine, it might be useful to be able to simply translate to any language you like by telling Alfred (and therefor Google) what the target language should be.

[2013-04-09 10:41] thomashempel opened #3 "Special characters don't work"
Right now, special characters like ü, ä etc. don't work as input.

[2013-08-31 08:04] jazzybeat opened #5 "Not accurate translations"
Is there is a way to make spanish transaltion more accurate to Spanish language so its similar to what shows up in Google Translate page. For example I translate several words like Home (casa), Face (cara), Head (cabeza), Eye (ojo). If you notice Google translates everything correctly but  in Albert List it shows up in the second place and this happens for many basic spanish translated words.

![a

[2013-10-17 07:42] #2 closed, assigned to thomashempel

[2013-10-17 07:42] #3 closed, assigned to thomashempel

[2014-01-20 07:04] #5 closed, assigned to nobody

[2014-04-23 06:55] ignazioc opened #7 "No more result (broken api?)"
Hi,
there is a problem with your workflow. I'm using Alfred V2 and none translation give me a result.
I've checked the log and i think that is a problem with the url that you are using.
This is the error:

[code]

and if I have correctly understood, this is the URL built for translate the word `car`

[code]

and this is the returned json

[code]

[2014-04-23 20:14] #7 closed, assigned to nobody

[2014-06-07 23:08] jeremy-beasley opened #8 "Bug translating Korean to English (ko > en)?"
Hi, Thomas.

I'm having trouble using the workflow to translate from Korean to english. Thoughts? I've used the workflow successfully for Spanish and Japanese but Korean gives me garbled text. I've attached a few screenshots for you below.

Thanks again for sharing the Alfred workflow. I use Google Translate almost every day and this has helped with my language learning.
![translate jp en](https:/

[2014-07-18 00:07] aeonaut opened #9 "open in google translate"
This workflow is fantastic! I use it every day. The only snag is that sometimes I really need to go to the actual Google Translate website -- usually, because I want to listen to the audio for a translation. What would it take to build that in, so that, say, hitting the 'option' key would take you to the same query on Google instead of copying to clipboard?

[2014-07-21 09:39] asazodi opened #10 "Default behavior"
Hi Thomas,

Thank you for the great workflow. I added these lines to my script —in line 56 of googleTranslate.php— before the $request is parsed so that I wouldn't have to always add the <code>"de>en"</code> prefix. I think this might be useful for other people who mostly translate between two specific languages.

Cheers,
Amir

[code]

[2014-07-21 14:35] #9 closed, assigned to nobody

[2014-07-26 07:33] vadimvh opened #11 "No translation when "quote" symbol (fr>en)"
Hi Thomas, seems like the the translation workflow doesn't work when the query contains a quote symbol. Is there any way to update it's behaviour?
![shot 2014-07-26 a 09 28 52](https://cloud.githubusercontent.com/assets/8273684/3710561/2a288424-1497-11e4-8ce8-2282e4fa6d1c.png)

[2014-07-27 13:41] #11 closed, assigned to nobody

[2014-08-29 01:48] aleufms opened #12 "Support for packal"
It would be nice if you submit your workflow in Packal repository.

[2014-10-13 10:06] jothirams opened #13 "Question: How to setup shortcut key for an action"
Hello,

This is more a question, than a issue.

Is there a way to setup a shortcut for any particular translation such as "gd de>en " and then I can enter the text that I want.

Best Regards,
Joe.

[2014-10-14 08:01] #13 closed, assigned to nobody

[2015-04-08 01:41] alexreg opened #14 "Does not work any more"
I think Google Translate updated their page format, so if you're doing scraping, that may be the reason.

Also, could we have an English flag for English please? There's no reason that the USA flag should be used, let's be fair. :)

[2015-04-08 04:51] thomashempel commented on #14
I'm not scraping the site, but I think Google changed the JSON structure. I'll have a look at this tonight.

Well, by default the google translation returns en_US, so technically that is correct. ;-) But I wanted to add more flags anyway. So I push that up on my list.

[2015-04-08 11:31] bonkey commented on #14
Looks like Google blocked access:

[code]

[2015-04-08 11:47] thomashempel commented on #14
Looks like it. :-( I call another URL though. For your example I'd call

    http://translate.google.com/translate_a/t?client=p&text=zwei-hunde&hl=en-EN&sl=auto&tl=en&multires=1&ssel=0&tsel=0&sc=1&ie=UTF-8&oe=UTF-8

that gives me

    HTTP/1.1 302 Found
    Location: http://ipv4.google.com/sorry/IndexRedirect?continue=http://translate.google.com/translate_a/t%3Fclient%3Dp%26text%3Dzwei-hunde%26hl%

[2015-04-08 23:45] alexreg commented on #14
Ah, that’s a shame. I suppose you could still do some screen-scraping… are you going to update it for that in time?

Cheers.

[2015-04-09 06:08] thomashempel commented on #14
Please checkout the newest version 2.2.3. It should be fixed there. At least it works for me again.

[2015-04-09 14:14] bonkey commented on #14
Works for me. Thanks! It is my most often used workflow :)

[2015-04-09 15:34] thomashempel commented on #14
Mine too ;-)

[2015-04-09 15:34] #14 closed

[2015-04-10 00:24] alexreg commented on #14
Excellent, seems fixed now, thank you.

Could you just change the irrelevant US flag to an England one please? That would make a lot more sense. I'm confused every time I see the US flag...

[2015-04-14 00:49] alexreg commented on #14
@thomashempel Is that okay, re the icon issue? Thanks.

[2015-04-23 15:12] henkjanborghuis opened #17 "trans keyword not working anymore"
Hi,

I noticed that the 'trans' keyword is not working anymore.
The 'gt' keyword still provides search results.

Is there an issue with the flow or is this a result of the Google block you've been talking about?

Kind regards,
Henk Jan Borghuis

[2015-05-03 08:25] ayamflow commented on #17
In the workflow settings it seems the only allowed keywords now are `translate` or `gt`. You can edit them if needed.

[2015-05-03 08:32] thomashempel commented on #17
What @ayamflow said! :-)

There never was a "trans" keyword as far as I can remember.

[2015-05-03 08:32] #17 closed

[2015-05-03 08:34] thomashempel commented on #10
I recently found something that makes this possible. I will have a look at it as soon as I can find the time to do so.

Greets,
Thomas

[2015-05-03 18:40] henkjanborghuis commented on #17
There was a trans keyword which allowed you to type a word and have it translated in multiple languages at the same time. See screenshot.

![schermafbeelding 2015-05-03 om 20 39 14](https://cloud.githubusercontent.com/assets/9373321/7446321/9ed3d204-f1d4-11e4-82a0-b51aefae6abf.png)

[2015-05-03 18:43] henkjanborghuis commented on #17
Whoops.

I saw that the 'trans' keyword was from a similar Alfred plugin.
Sorry!

[2015-05-04 21:23] alexreg opened #18 "English flag"
I requested this before, but I think you missed it (or ignored it!). Please use the (historical) English flag for the English language... The USA flag has precisely zero to do with the English language as a whole.

[2015-05-05 07:07] thomashempel commented on #18
Hi,

I never intended to ignore you. Sorry for that! Anyway, I replaced the flag and also added a few others. See release 2.3.0. Hope that is okay now?

[2015-05-05 07:07] #18 closed

[2015-05-05 15:00] alexreg commented on #18
No worries at all! Thanks a lot for doing that and satisfying my pet peeve...

[2015-05-05 19:10] alexreg commented on #18
Hah, I just noticed you put the British flag (rather than English)… but hey, I won’t complain! ;)

[2015-05-05 19:13] thomashempel commented on #18
Alright. Let's say we found a middle ground here. ;-)

[2015-05-05 19:14] alexreg commented on #18
Indeed…

[2015-07-30 14:53] armoucar opened #19 "Stopped working"
It is not working for me anymore. Does someone confirm the same? Thanks :)

[2015-07-30 16:24] thomashempel commented on #19
I can't confirm this. It's still working for me.

Can you give a few more details. What languages are you trying to translate and how?

Greets,
Thomas

[2015-07-30 16:37] armoucar commented on #19
I was using version 2.2.x so I updated to 2.3 just in case. Still not getting results.
If there's something I could do to test it deeper or debug it...

![image](https://cloud.githubusercontent.com/assets/1134016/8989015/6c44d7dc-36e1-11e5-8f8f-a3345d8af5f3.png)

Thanks.

[2015-07-30 18:21] thomashempel commented on #19
Hm, that is strange. Can you please try "gt" instead of "translate". That shouldn't make a difference b ut you never know. Maybe that is some sort of interference with other workflows. Do you have the most recent version of Alfred installed?

This is how it looks on my machine btw:

<img width="547" alt="fullscreen_30_07_15_20_18" src="https://cloud.githubusercontent.com/assets/354084/8991367/81a5

[2015-07-30 20:34] armoucar commented on #19
Never mind, it has worked at home. Tomorrow I'll test on work's connection again. Sorry to bother

[2015-07-31 13:53] alexreg commented on #19
I confirm this; it's no longer working. Google have changed their API in some countries.

[2015-07-31 13:58] alexreg commented on #12
I concur, Packal is great. There are workflows to automatically update Packal packages as well... any chance you could do it? Should be fairly easy to set up and release through there.

[2015-07-31 15:46] armoucar commented on #19
@alexreg it's working at my house but not at work. I suppose it is a network problem.

[2015-07-31 17:41] alexreg commented on #19
Well it’s definitely not a network problem here… always worked at my home, but not the past 2 days. It could well be regional – Google often roll out new web pages / APIs in a very patchy way.

@thomashempel, do you need me to do a packet sniffing session… or something simpler, to help diagnose?

[2015-08-01 18:37] thomashempel commented on #19
@alexreg Well, first off, it might be helpful to know where you come from. So I can try to find out what the problem might be. For me everything is still working without any problems.

What I could imagine is, that somehow the rate limit of the API is exceeded because of some proxies on the way from your client to Google. But that is really just a guess.

What you could try is, open the workflow a

[2015-08-01 18:40] thomashempel commented on #12
TBH, I still didn't look into this. I will try to check it out asap

[2015-08-01 18:57] thomashempel commented on #12
I've added the workflow on Packal. It's pending.

[2015-08-01 19:04] alexreg commented on #12
Perfect. I see it already. Thank you.

Now I can get automatic updates to it, presuming you continue to make Packal releases. :-)

[2015-08-01 19:07] alexreg commented on #19
Aha, that certainly illuminates the problem. It seems the response is a "page moved" one. I guess you need to pass the -L option to curl (or equivalent in code)? And perhaps modify the URL too?

[code]

[2015-08-02 01:50] alexreg commented on #19
So, I added `CURLOPT_FOLLOWLOCATION => true` to the defaults array, and now I see it’s redirecting to a captcha-confirmation.

https://gist.github.com/86b4563f803681141427 <https://gist.github.com/86b4563f803681141427>

Maybe I’m just using the utility too much? In any case, that’s awkward… is there some way around this? Perhaps adding in a user-agent header or something?

[2015-08-02 01:54] alexreg commented on #19
Excellent: so adding the line `CURLOPT_USERAGENT => ‘AlfredGoogleTranslateWorkflow’` to the defaults array does the trick – it’s working again.

Perhaps you could make a new release with this fix?

Per above, would be nice to get a Spanish flag added too (and a few others, if it’s not too much to ask).

Cheers!

[2015-08-02 06:15] thomashempel commented on #19
Alright, a new version 2.3.1 with the fixes is online. It also includes a spanish flag icon! ;-)

Please let me know if it is working now, so I can close this issue.

Thanks and best wishes,
Thomas

[2015-08-02 06:16] thomashempel commented on #12
I have provided a new version (2.3.1) on Packal and it should available right now.

Best wishes,
Thomas

[2015-08-02 06:16] #12 closed

[2015-08-02 13:33] alexreg commented on #12
Thanks. Seems to work nicely.

[2015-08-05 14:32] thomashempel commented on #19
Seems to work for now

[2015-08-05 14:32] #19 closed

[2015-08-05 14:34] alexreg commented on #19
Yes, all is good. Thank you Thomas!

[2015-08-05 14:34] alexreg commented on #19
Where do you get your flags from by the way? Maybe I will add some in the future, and submit a pull request so you can add them easily…

[2015-08-05 14:37] thomashempel commented on #19
TBH, Normally I just search for royalty free images on Google that don't need any mentioning.

[2015-08-12 09:18] thomashempel commented on #10
Please checkout the V3 branch: https://github.com/thomashempel/AlfredGoogleTranslateWorkflow/tree/V3

[2015-09-07 06:38] thomashempel commented on #10
This is fixed in V3.0.0

[2015-09-07 06:38] #10 closed

[2015-09-07 06:52] raine opened #21 "translate keyword doesn't work"
This is quite odd. The `translate` keyword doesn't work, but `gt` does. Perhaps there is a conflicting keyword or something in my setup?

![screen shot 2015-09-07 at 9 51 17](https://cloud.githubusercontent.com/assets/11027/9710717/130df5e4-5546-11e5-837a-e394e5886947.png)

![screen shot 2015-09-07 at 9 52 14](https://cloud.githubusercontent.com/assets/11027/9710726/214bc92e-5546-11e5-9179-f971e46

[2015-09-07 07:14] thomashempel commented on #21
Ooops. Yeah, sorry that was my fault since I changed the file structure, I totally forgot to update the "translate" keyword. Please try version 3.0.1. https://github.com/thomashempel/AlfredGoogleTranslateWorkflow/releases/tag/V3.0.1

Best wishes,
Thomas

[2015-09-07 07:14] #21 closed

[2015-09-07 07:15] raine commented on #21
Thank you. It works.

[2015-09-07 07:16] thomashempel commented on #21
Awesome! :-)

[2015-09-17 22:17] alexreg opened #22 "Command to open browser window"
Referring to this screenshot:

![screenshot](https://s3.amazonaws.com/f.cl.ly/items/1t3U1c371p0X1v2c3z1H/Image%202015-09-17%20at%2011.12.49%20pm.png)

Would it be possible to get the command labelled `Translate 'en>es hello'` to do the following?

a) Only display `Translate 'hello'`, or perhaps `Translate 'hello' from EN to ES` or even `Translate 'hello' from English to Spanish`
b) Open the query

[2015-09-18 04:47] thomashempel commented on #22
Hi alexreg,

this is already possible. Type in your command and press [ALT]+[RETURN] -> Opens the request on the Google Translate Website. In your example that would be https://translate.google.com/#en/es/hello

Best wishes,
Thomas

[2015-09-18 04:47] #22 closed

[2015-09-18 20:41] alexreg commented on #22
Okay, I see. Maybe just change the text though, at least? So it says something like `Translate ‘hello’ from EN to ES’. Cheers.

[2015-10-07 19:01] alexreg opened #23 "Broken on OS X El Capitan"
Since upgrading, it has immediately stopped working. I now get "No results found" for whatever source/destination language & text.

[2015-10-07 20:51] superandrew commented on #23
I've got this problem, too.

[2015-10-08 07:40] thomashempel commented on #23
I have this occasionally since I updated to El Capitan. For some reason, Google says, that there are to many requests from that network. To me, that doesn't make much sense, since the network did not change for me.

Maybe El Capitan does something differently but not sure what. I'm investigating.

[2015-10-08 07:45] thomashempel commented on #23
Can you please try the following.

Open the workflow folder and open the file "GoogleTranslateWorkflow.php". Go to line 115 and replace it with the following

    $url = 'http://translate.google.com/translate_a/t?client=foobar&text='.urlencode($phrase).'&hl=en-EN&sl='.$sourceLanguage.'&tl='.$targetLanguage.'&multires=1&ssel=0&tsel=0&sc=1&ie=UTF-8&oe=UTF-8';

[2015-10-08 07:58] thomashempel commented on #23
Oh, and one other thing. In the same file, line 127 is commented. Please remove the comment by removing the two slashes at the beginning of the line.

Start a request and post the content of the file "/tmp/alfred.out" here.

You probably want to re-add the slashes back afterwards.

Thanks and best wishes,
Thomas

[2015-10-08 14:09] alexreg commented on #23
I made that change `$url = ...` on line 114, not 115 (I think you meant this), and it seems to be working well again now.

Here's `alfred.out` in any case: https://gist.github.com/anonymous/8d278b50e09ca41f7a01

Cheers.

[2015-10-08 16:09] andrielfn commented on #23
I've changed the line 114 and worked for me as well. :+1: :ok_hand:

[2015-10-08 16:19] andrielfn commented on #23
Actually it just works a few times after change the URL. Seems that Google is blocking the request.

The output:

   <div id="infoDiv0" style="display:none; background-color:#eee; padding:10px; margin:0 0 15px 0; line-height:1.4em;">
    This page appears when Google automatically detects requests coming from your computer network which appear to be in violation of the <a href="//www.google.com/po

[2015-10-08 16:24] thomashempel commented on #23
@alexreg Well, as @andrielfn already stated, that should not work for long. Can you please provide the alfred.out from a request that didn't work?

@andrielfn Can you also provide an alfred.out please?

[2015-10-08 16:26] alexreg commented on #23
Ah yes, it’s broken again now. See this log: https://gist.github.com/19e1fdd2f97499c35f56

[2015-10-09 12:46] thomashempel commented on #23
@alexreg @andrielfn Do you guys still have the problems? I don't have the problems anymore, without any changes to the workflow.

I hope this was a fluke in the Google spam detection, since I don't see what I could do about this problem.

[2015-10-09 18:32] alexreg commented on #23
Working now for me. So yeah, could well have just been a problem with the Google servers and their dodgy DOS detection.

[2015-10-09 19:43] alexreg commented on #23
Not working again now. Same error. :(

[2015-10-10 10:12] thomashempel commented on #23
I just release a new version 3.0.2 that tries to reduce the number of requests, sent to Google. This is not immediate fix but might help in the long run.

[2015-10-12 08:11] fns opened #24 "Extra flag icon"
Could you please add my country's flag to the repo? Here it is: https://en.wikipedia.org/wiki/Flag_of_Hungary#/media/File:Civil_Ensign_of_Hungary.svg

[2015-10-14 06:36] thomashempel commented on #24
Hi,

thanks for the input. I'm currently working on a more general solution to the "flag problem".
It will be solved. :-)

Best wishes,
Thomas

[2015-10-14 06:37] thomashempel commented on #23
@alexreg Do you still have the problem? It seems to be fixed for me.

[2015-10-14 08:34] superandrew commented on #23
I seem to still have the problem with version 3.0.2, am I the only one?

[2015-10-14 08:37] thomashempel commented on #23
Yeah, me too. It worked the last two days, though.

[2015-10-14 11:51] gabriel-r opened #25 "Open Google Translate web page when "No results found""
The "No results found" error pops up very often, actually most of the time.

When this happens, the "No results found" entry should open the Google Translate web page with the text.

[2015-10-14 11:57] thomashempel commented on #25
There is an open issue for this already. Please see #23

[2015-10-14 11:57] #25 closed

[2015-10-14 13:31] alexreg commented on #23
I still have the problem I'm afraid.

(Did you update the Packal version? I think I'm on the latest.)

Sent from my iPhone

[2015-10-16 05:57] thomashempel commented on #23
Yes, I've the jackal version as well.

This is some serious bad news, I have no idea what I can do about this at the moment.

[2015-10-16 14:37] andrielfn commented on #23
Seems that Google is not accepting many requests from the same IP in a specific interval. Every morning when I use the workflow, it works, but after some translations the error appears again.

I started to debugging the URL and I found a pattern that seems to be working all the time (at least for me):

[code]

I replaced the `/t` endpoint to `/single`, the `text` parameter to `q` and appended a `&

[2015-10-16 15:26] alexreg commented on #23
That's some good investigative work there, @andrielfn. I confirm the results you get. @thomashempel What do you think, do you want to release a new version with the latter URL now?

[2015-10-16 18:58] thomashempel commented on #23
@andrielfn Awesome work. I'll check it over the weekend. Thank you!!!

[2015-10-26 09:13] geakstr opened #26 "Large Type for translated results"
In order to translate long text it would be useful to be able to Large Type results.

I think this is possible https://www.alfredapp.com/help/workflows/outputs/large-type/

[2015-10-31 17:59] grekko opened #27 "THANKS! Just want to thank you for your work!"
I am using the workflow multiple times per day! :heart:

[2015-11-01 03:18] alexreg commented on #23
Still patchy service for me… on one day (or hour even), off the next.

[2015-11-02 06:34] thomashempel commented on #23
Yeah, sorry. Because of illness and other circumstances, I didn't had the time to check the possible solution given by @andrielfn yet.

[2015-11-02 06:34] thomashempel commented on #27
Wow @grekko - Thank YOU for your kind words. :-) Made my day!

[2015-11-02 06:34] #27 closed

[2015-11-02 14:28] alexreg commented on #23
No problem. Look forward to updates in due course!

Sent from my iPhone

[2015-11-27 15:01] Meflou commented on #23
I wonder if by now this problem was solved, I still get no result found. Will it work if I downgrade to a previous version?

[2015-11-27 15:03] alexreg commented on #23
Nope, still waiting for @thomashempel to try out the suggested fix and make an update.

Sent from my iPhone

[2015-11-27 15:06] thomashempel commented on #23
Hey, I'm still here. Going through some rough times right now. Will look at this asap.

[2015-11-27 15:35] thomashempel commented on #23
After a first look I can verify, that the URL to the /single endpoint indeed delivers returns some results. But, it only does when the User Agent is set to "Mozilla" via the -A option in Curl. When I leave out the agent, I get the same 403 message.

Unfortunately, this does not work with the /t endpoint. I guess I have to poke a round a little more because the result not always contain any actual

[2015-11-27 16:06] alexreg commented on #23
No problem. Thanks for letting us know you’re still there!

[2015-11-27 16:07] alexreg commented on #23
Interesting. Even Chrome or Safari as user agents doens’t work?

[2015-11-27 16:09] thomashempel commented on #23
It seems like Google doesn't like to be requested via cURL. At least I found a view issues related to this.

[2015-11-27 17:28] Meflou commented on #23
Thank you for the good spirit guys. I love what you are doing.

[2015-12-17 17:49] alexreg commented on #23
@thomashempel Did you try setting the agent with cURL? This usually does the job for me.

[2015-12-17 18:03] thomashempel commented on #23
@alexreg Yes I tried that, but it only works for a few request and doesn't work at all when I try it inside the workflow.

As I wrote above, there are a few articles / stack overflow questions about this. Unfortunately, I couldn't find any solution as of yet.

The whole translate API from Google is a paid service, so I'm seriously thinking to switch to dict.cc. What do you guys think about that?

[2015-12-17 18:04] alexreg commented on #23
I think that’s a good idea, in truth. Let’s switch to dict.cc. :)

[2015-12-17 18:06] thomashempel commented on #23
Maybe as a second option, or I just support both. Shouldn't be to hard to implement. I will look into this over the holidays. :-)

[2015-12-17 18:07] alexreg commented on #23
Well if Google’s not working any more, no point supporting it at all. I hear the Bing Translate service has a free option with a fair amount of requests per day. Maybe make Bing and dict.cc the options?

Anyway thanks for your efforts!

[2015-12-17 18:09] thomashempel commented on #23
Good idea! Never hurts to have options. Guess I have to change the name then.

[2015-12-17 18:10] alexreg commented on #23
Yep, the name is no big deal though, I think. :)

[2016-02-10 21:25] xlrtx commented on #23
@thomashempel
Google added a parameter tk to authenticate incoming requests, there is a post on how to generate tk for valid requests.
https://github.com/Stichoza/google-translate-php/issues/32

http://translate.google.cn/translate_a/single?client=t&sl=auto&tl=zh-cn&dt=t&ie=UTF-8&oe=UTF-8&tk=427258.41264&q=moon

It can return a valid result now, however the program can't parse it properly.

[2016-02-11 05:34] thomashempel commented on #23
@xlrtx Wow, I will try that asap.

Unfortunately my attempts to make dict.cc work failed as they do not provide any kind of API afaik.

[2016-04-08 06:43] fns commented on #23
Any progress so far? What about integrating @Stichoza code? https://github.com/Stichoza/google-translate-php

[2016-05-08 21:41] alexreg commented on #23
@thomashempel Hey, any update? :) I had an idea, which may ease the burden of rewriting this workflow: you could base it as a wrapper around the excellent [`trans` tool](https://www.soimort.org/translate-shell/), and assume this is just installed on the user system. Of course, the project will require a rename then, but that's details.

[2016-07-06 08:33] gmile commented on #23
@alexreg an alftred workflow for trans tool exists now http://www.packal.org/workflow/trans-translate-shell-workflow

[2016-07-06 09:37] fns commented on #23
Hell yes, I made it :)

[2016-07-06 13:37] alexreg commented on #23
@gmile, @fns Thanks a lot for this! Looks perfect.

[2016-07-06 14:07] alexreg commented on #23
@fns Do you have a repo for the project, by the way? I'm wondering where you got your flag icons for, so I can customise my workflow. Also, maybe I'll submit a PR for a few minor improvements. Looks good though. :)

[2016-07-06 14:21] thomashempel commented on #23
Hi guys,

First off, I have to apologise for not answering for such a long time! I have a lot of private stuff going on right now and simply don't have the time to do anything (trying to build a house).

I can't even test with the recently released  Alfred 3, since I don't have the funds for the PowerPack. And no, this is not me asking for donations! ;-) Not, after I left you all out in the cold f

[2016-07-06 15:36] thomashempel commented on #23
SURPRISE! Check out version 3.1.0. ;-)

This version uses the aforementioned google-translate-php. If you are already on the shell workflow. No hard feelings. :)

Please let me know, if this works for you now. So I can at least close this issue.

Best wishes,
Thomas

[2016-07-06 17:54] alexreg commented on #23
@thomashempel Thanks, works nicely! One small bug though: If I just give the output language, as should be allowed (e.g. `tr es Hello`) then the result is `Array`...

[2016-07-06 17:58] thomashempel commented on #23
@alexreg Well, that is strange. I get "Hola" (I guess that is expected). Does the error only occur if don't specify the input language?

[2016-07-06 18:00] alexreg commented on #23
Yes, exactly. Only if I don’t specify an input language. So `es` gives `Array` but `en>es` gives `Hola`.

[2016-07-06 18:06] thomashempel commented on #23
Weird ... I know it sounds stupid, but works for me. :-/
What does "gtset show" give you?

[2016-07-06 18:07] alexreg commented on #23
sourceLanguage = auto
targetLanguage = en

[2016-07-06 18:09] thomashempel commented on #23
Ah... Okay. Now I get the same error. As a quick workaround you can specify the source language with "gtset sourceLanguage es" for example.

[2016-07-06 18:10] alexreg commented on #23
Yeah. Not ideal that, but cheers. I’m sure you’ll be able to fix this quite easily. :)

[2016-07-06 18:35] alexreg commented on #23
Thanks, that works nicely.

(Semi-related moan: I wish they would update Packal so it didn’t error whenever one tries to update packages.)

[2016-07-06 19:24] andrielfn commented on #23
Thank you a lot @thomashempel, it's working nicely. Great job! 👏 🎉

There's only one thing that I noticed that has changed in this version. I'm not sure if it's related with Alfred 3, but it is now returning only one result.

I've used the example from README `translate de>en Haus` that returned three results, but I got only one. Check it out:

![](https://github.com/thomashempel/AlfredGoogleTrans

[2016-07-06 19:29] thomashempel commented on #23
@andrielfn Yes, that is a problem of the now used lib. I think the used API is only returning one result and no alternatives anymore. :-/ If I find the time I will look into that.

For now, you can Press [alt][return] to open the request on the google translate website. That will give you all results.

[2016-07-06 19:29] thomashempel commented on #23
Alright. I'm closing this thread now. If anything is not working. Please open a new issue.

Thanks and best wishes

[2016-07-06 19:29] #23 closed

[2016-07-07 04:26] fns commented on #23
@alexreg no repo, just download it and change or let me know what would you need and I'll do it.

[2016-07-07 07:42] superandrew opened #28 "Impossible to set targetLanguage en"
For some strange reason, I cannot set `en` as a targetLanguage:

<img width="585" alt="screen shot 2016-07-07 at 09 40 07" src="https://cloud.githubusercontent.com/assets/71364/16645822/f9b95cf2-4426-11e6-8e10-3041125866bc.png">

By the way I solved setting `default` which corresponds to english.
Any idea?

[2016-07-07 07:47] thomashempel commented on #28
Oh dear. Yeah I know where to find that. Stupid overlook on my side.

[2016-07-07 18:59] alexreg commented on #23
How should I contact you?

[2016-07-08 08:05] fns commented on #23
Contact info on my github page: https://github.com/fns

[2016-07-08 15:32] thomashempel commented on #28
Please check out version 3.1.2

[2016-07-08 15:32] #28 closed

[2016-07-15 08:16] bao-xingchen opened #29 "Unicode Normalization: convert all characters with accents into their one-unicode-character form?"
Hello Thomas,

Thank you for your great works!

When I copy and paste the translated word with accents, e.g. `géométrie`, the `é` is actually two characters `e´ (+U0065 +U0301)`. I think the one-unicode-character form would be a better choice, since Google Translate outputted the normalization form, which in this case is `é (\u00e9)`.

So is there any possibilities to convert all characters with

[2016-07-20 13:28] thomashempel commented on #29
I will have a look at this. Thanks for reporting.

[2016-08-02 09:46] xilopaint opened #30 "[Request] Translate without prefix"
![screen shot 2016-08-02 at 06 42 16](https://cloud.githubusercontent.com/assets/11052366/17324305/492a050c-587c-11e6-9854-42f7feeb2da8.png)

![screen shot 2016-08-02 at 06 42 21](https://cloud.githubusercontent.com/assets/11052366/17324307/4950b51c-587c-11e6-9ae5-cf85315bb6a2.png)

At the moment I need to add a prefix to translate a sentence in the target languages. Would it be possible to add th

[2016-08-11 05:31] y1feng200156 opened #31 "The word has to be longer than 2 characters"
`gt en,ger,fr Haus`

`<?xml version="1.0" encoding="utf-8"?><items><item uid="mtranslate"><title>More input needed</title><subtitle>The word has to be longer than 2 characters</subtitle></item></items>`

[2016-08-11 05:46] thomashempel commented on #31
It has to be written like this:

[code]

"ger" is not a valid language identifier.

[2016-08-11 05:46] #31 closed, assigned to nobody

[2016-08-12 09:54] thiemehennis opened #32 "translate on Alfred 3"
does this workflow work on Alfred 3? As is, it does not seem to work (on my machine), but I have not yet ruled out other options. Because the Packal workflow explicitly states 'Alfred 2' workflow, this seemed to me the obvious reason.

[2016-08-12 10:08] thomashempel commented on #32
No it does not unfortunately. I don't have the Alfred 3 Powerpack so I can't port it.

[2016-08-12 12:20] thomashempel commented on #32
Got a license... So I can check it. Thank you!

[2016-08-14 04:30] thomashempel commented on #32
Okay, so I checked the workflow on Alfred 3 and it works for me so far. But that could be because I still have the Alfred 2 version around.

Can you please elaborate on what is not working in your setup?

[2016-08-14 04:56] thomashempel commented on #32
Please check out pre-release 3.2.0 and let me know if that works for you: https://github.com/thomashempel/AlfredGoogleTranslateWorkflow/releases/tag/3.2.0-pre1

[2016-08-15 09:13] thiemehennis commented on #32
It does work! Thanks a lot! Have a nice week!

[2016-08-31 19:44] pepperonas commented on #32
Hello, there is no action triggered on my machine.
Here is some logging:

[code]

Any idea how to fix it? I wish I could help you, but this workflow stuff is totally new to me.

[2016-09-01 07:19] thiemehennis commented on #32
same here. Yesterday suddenly it stopped providing results. (and I just
checked; still no results). It did work until recently though, so probably
something on Google's end.

On Wed, Aug 31, 2016 at 9:44 PM, Martin Pfeffer notifications@github.com
wrote:

[2016-09-01 19:24] DONSA commented on #32
Yes, they must have changed something:

[code]

[2016-09-06 20:06] ghost commented on #32
Anyone has found a way to correct this ? Or is it due to some policy change by Google that is not authorizing some API ?

[2016-09-07 05:13] thomashempel commented on #32
Looks like Google closed the door on the API again. :-/

[2016-10-08 05:47] Norcy opened #33 "Cannot work in Alfred 3"
I use the 3.2.0-pre1 version.
When I input the example "translate de>en Haus", it shows nothing but "translate {from>to OR to<from OR to}{searchword}".

Is it a bug in Alfred 3?

[2016-10-19 09:25] gevgeny commented on #32
Sad news. I just bought a license for Alfred 3 just because of this workflow ;). Any ideas how to workaround this issue ?

[2016-10-20 10:07] thiemehennis commented on #32
I don't but Alfred is also useful without this workflow. But yes, this was
my favourite as well!

##

hennis.nl // +31651855220 // Amsterdam, Delft

On Wed, Oct 19, 2016 at 11:25 AM, Eugene Gluhotorenko <
notifications@github.com> wrote:

[2016-10-20 10:13] thomashempel commented on #32
Sorry, guys. But since Google is trying to earn money with the translation API, they regularly change the access and break these kind of clients. I'm not sure how to solve this and to be honest I'm not sure if can dedicate enough time to support this anytime soon.

[2016-10-20 10:18] gevgeny commented on #32
Anyway thanks for the awesome try ;)

[2016-10-20 10:28] thomashempel commented on #33
This is a problem in the Google API. They change it regularly to shut access to it by unauthorized clients. Not much I can do about it unfortunately.

[2016-11-16 00:08] blackxored commented on #32
It has apparently been fixed upstream at https://github.com/Stichoza/google-translate-php/issues/62. Obviously, I'm not that familiar, but if so this package only needs to update the dependency. Worst case scenario a bit of tweaking in the results might be required, but I don't think that'd be the case at all. Sadly I don't speak PHP so I'm hoping the author or someone more experienced than me wou

[2016-11-16 20:23] Boumy commented on #33
So the workflow is broken for now ? I discover today your workflow. It sounds so cool.

On Alfred 3.2 Build 759, Tuesday 8th November 2016, when I type "gt fr>en ami" I get the Google Translate icon for a while but right after I get Google search, wikipedia and amazon icons.

[2016-11-28 21:29] DONSA commented on #32
I've created a pull request #34.
Don't know if the author will aprove it, but you can still do the changes yourself.
Run ```composer update stichoza/google-translate-php``` on the workflow folder and replace the file attached.

[GoogleTranslateWorkflow.php.zip](https://github.com/thomashempel/AlfredGoogleTranslateWorkflow/files/617529/GoogleTranslateWorkflow.php.zip)

[2016-12-15 07:47] lucien144 commented on #33
@thomashempel I think the PopClip had the same issue and switch to Bing Translate to fix it. Thoughts?

[2017-01-18 13:00] johnwatsondev commented on #32
@DONSA Hello, bro. I can't set the sourceLanguages and the targetLanguages with your approach. I also use Alfred 3.

I just create a blank workflow. Then I clone this repo and replace your `GoogleTranslateWorkflow.php` file in its `src` dir. I run the `composer update stichoza/google-translate-php` command under `src` working dir. Lastly, I copy all files in `src` folder to my blank workflow finde

[2017-01-18 13:09] DONSA commented on #32
Hi,
No need to create a new workflow.
Just cd into workflow source folder and run composer on it. Then replace the attached file.

[2017-01-18 13:16] johnwatsondev commented on #32
Thanks. Which release version did you use (3.2.0-pre1 or 3.1.2 in releases)?

[2017-01-18 13:19] DONSA commented on #32
V3.1.2

[2017-01-18 17:52] kopiro commented on #32
Thank you @DONSA

[2017-01-19 02:01] olbrew commented on #32
Does this still work for you all? The operations work but the translation invariably returns `ARRAY`.
Am I doing something wrong or did Google just change their API again?

[2017-01-19 07:58] DONSA commented on #32
Works fine. I'm using stichoza/google-translate-php v3.2, make sure you use the same version. You can check it in composer.json.

[2017-01-19 08:40] thiemehennis commented on #32
so it works fine with the latest version? Or only with modifications? If it
works, that's new to me, I thought it did not work anymore due to changes
at Google's side.

--
hennis.nl // +31651855220 // Amsterdam, Delft

On Thu, Jan 19, 2017 at 8:58 AM, Nuno <notifications@github.com> wrote:

[2017-01-19 08:44] DONSA commented on #32
Only with the modifications I did in GoogleTranslateWorkflow.php file.

[2017-01-20 01:56] olbrew commented on #32
@DONSA thanks! I've found out what the problem was. The `GoogleTranslateWorkflow.php` you linked to in https://github.com/thomashempel/AlfredGoogleTranslateWorkflow/issues/32#issuecomment-263400058 points to the original one for some reason. Using the one from your Pull Request found [here](https://raw.githubusercontent.com/DONSA/AlfredGoogleTranslateWorkflow/02e6f535a3c845321339061f895c571d133a3d

[2017-01-20 03:38] johnwatsondev commented on #32
@olbrew Hello, I have some question asking you with Twitter's message. Please check it.

[2017-01-20 08:52] thiemehennis commented on #32
for non-programmers - what is the step by step procedure to get this workflow working? Do I download the 'latest' workflow? And then?

[2017-01-20 08:58] DONSA commented on #32
I will fork this project this weekend and create the workflow. I will post the link when it's finished.

[2017-01-20 09:00] thiemehennis commented on #32
thanks Nuno!

--
hennis.nl // +31651855220 // Amsterdam, Delft

On Fri, Jan 20, 2017 at 9:58 AM, Nuno <notifications@github.com> wrote:

[2017-01-20 10:10] johnwatsondev commented on #32
@DONSA There is some question about this workflow that still confuse me.
1. I have set the sourceLanguage and targetLanguage use `gtset` command. Here is SNAPSHOT:
![jietu20170120-180017](https://cloud.githubusercontent.com/assets/12760754/22144915/54d838d4-df3a-11e6-80a9-1f21c6881aca.jpg)

So, I still need use `gt zh-CN hello` or `gt hello`? I also attach some SNAPSHOTS.

![jietu20170120-180630](

[2017-01-20 10:17] johnwatsondev commented on #32
Finally, I found the issue. My network is broken in fu*king China Mainland. :( I must use VPN get google translate working normally. @DONSA Thank for hard work again.

[2017-01-20 10:20] DONSA commented on #32
I don't know a lot about the original behaviour because I've tweaked the original version to work as I need.
In my version I set the languages that I need to automatically translate whatever I type in.
The version that I will upload will reflect those changes.

Example:
![screen shot 2017-01-20 at 11 14 38](https://cloud.githubusercontent.com/assets/4755300/22145516/00e1aa68-df02-11e6-86b9-955358a

[2017-01-21 09:55] DONSA commented on #32
I've [forked](https://github.com/DONSA/AlfredGoogleTranslateWorkflow) the project and did some minor changes. You can now use the **⇧ + ⌘ + i** shortcut to open the flow. No need to type translate or gt.
Get back to me if you found any bugs and feel free to make suggestions to improve it.

[2017-01-23 09:27] thiemehennis commented on #32
thanks Nuno! It works again!

On Sat, Jan 21, 2017 at 10:55 AM, Nuno <notifications@github.com> wrote:

[2017-02-04 20:46] luxxi commented on #32
@DONSA your forked version worked fine for me, except the settings editing. It shows a warning (image in attachment) and settings are not saved.
<img width="332" alt="screen shot 2017-02-04 at 21 14 43" src="https://cloud.githubusercontent.com/assets/1362438/22621397/1f210c1c-eb23-11e6-922c-3747eeae207b.png">

[2017-02-05 17:37] DONSA commented on #32
Create a issue topic in forked project and I will take a look.

[2017-02-05 18:08] luxxi commented on #32
Unfortunately is not possible to open an Issue on your forked project. I found out it is the hard coded path in workflows.php that caused the problem.

[2017-02-05 18:09] DONSA commented on #32
Ups, you can create now.

[2017-02-28 18:07] ckotte commented on #33
looks like you need to implement this Google API key thing: https://www.alfredforum.com/topic/9822-translate-workflow/. Would be really nice because with the other workflow I can only translate to one target language..

[2017-03-10 03:39] exinglang commented on #32
hello .every body , why i use DONSA'#34,  always show "more input needed  -the word has to be longer than 2 characters" i has set targetLanguage and sourcelanguage.   includ example  i type "translate fr Haus"  ,
What else do you need?

[2017-04-20 08:36] willisworley opened #35 "How can it auto recognize the source language and target language."
For example .When I type zh , it default show the en language result. when i type en ,it default show zh.
really thanks for your developing this nice workflow !

[2017-06-20 10:59] vfptr opened #36 "met a error "the word has to be longer than 2 characters""
No matter how many words I enter, such as "gt en> zh-CN what the problem", have received such a message, "the word has to be longer than 2 characters"
I'm using alfred 3.

[2017-06-24 14:19] mbsbk commented on #36
I met the same problem
I'm using alfred 3.3

[2017-07-06 10:56] Meshkati commented on #36
I have same problem on Alfred 3.4

[2017-08-02 10:08] psu commented on #36
I get the same answer but only for about 1 sec, then alfred shows the fallback results.

[2017-08-09 08:41] stormfar commented on #36
+1

[2017-08-24 07:50] omBratteng commented on #36
Using Alfred 3.4.1, same problem

[2017-09-07 16:25] francybiga commented on #36
Same here with Alfred 3.3.1

[2017-09-25 12:03] esreverse opened #37 "Not working anymore in Mac OS High Sierra"
Error is "Timeout occured."

[2017-09-26 11:12] sundarv85 commented on #37
I also face the same issue. I use 10.12 macOS Sierra.

[2017-09-26 11:14] esreverse commented on #37
In 10.12 it worked just fine for me

[2017-09-27 12:57] sundarv85 commented on #37
This is a new issue. It was working for me and it suddenly stopped working.

[2017-10-23 15:15] seb-koch commented on #36
same here. +1

[2017-11-02 16:43] eppfel commented on #37
It seems to be a problem of the URL used to crawl the data from google https://github.com/Stichoza/google-translate-php/issues/73

[2017-11-02 16:47] eppfel commented on #37
Seems not to be related to Sierra.
So this is a duplicate of #32 and https://github.com/thomashempel/AlfredGoogleTranslateWorkflow/issues/33#issuecomment-255069248

[2017-12-02 02:41] cjwisniewski commented on #36
Same here. No matter what target word I enter (all my attempts used words that were three  characters in length or longer) and regardless of whether I have a default source and/or target language set, I receive:

`More input needed / The word has to be longer than 2 characters`

As of today I'm using Alfred 3.5.1 on macOS 10.13.2 Beta

Thomas, have you abandoned this wonderful workflow?

[2017-12-09 21:23] StaverDmitry commented on #37
Hi! Was so glad to find your workflow but seems like it's broken right now at least for me :c
Alfred 3, High Sierra. It just won't return any results and can't even open a new window, it just changes to default google search as soon as I type `gt {target_language} {word}`

[2017-12-15 17:02] nicooprat opened #38 "Error"
Input: `gt fr>en effrayant`

[code]

[2017-12-15 17:11] nicooprat commented on #38
This package seems to work https://github.com/zetavg/alfred-google-translate-workflow

[2018-03-08 06:50] xiaoshier commented on #36
+1

[2018-04-16 10:42] yao89 commented on #37
Same here, Alfred 3.6.1, last release of your project.

Thanks in advance ;)

[2018-04-26 09:57] Konfetty commented on #37
Same here, also on Alfred 3.6.1 and macOS 10.13.4.
No error message, but also just no results at all. If I enter the first and only suggested command, the complete text after "translate" or "gt" gets parsed into the google translate website.

[2018-09-13 12:02] yeksi commented on #36
Same here with v3.6.2
+1

[2018-09-18 15:29] justrunstudio commented on #36
+1

[2019-01-19 06:39] philippkeller commented on #37
[this fork](https://github.com/DONSA/alfred-google-translate) has a working version of this plugin

[2019-07-08 01:47] fuuqiu opened #41 "In afred 3 is invalid, is there any way to maintain Google api prohibiting unauthorized clients from calling Google's translation interface?"
In afred 3 is invalid, is there any way to maintain Google api prohibiting unauthorized clients from calling Google's translation interface?

[2019-12-13 22:45] GJRobert commented on #36
+1

[2020-06-28 11:25] #30 closed, assigned to nobody

[2021-02-22 08:20] #26 closed

[2021-03-12 09:13] AvTe commented on #38
gtset show ( show all running function )